h2{
     font-family: var(--font__kr);
}

.stage{
    position: fixed;
    left: 50vw;
    top: 0;     
    width: 50vw;
    height: 100vh;
    perspective: 600px;
}



.room{
    transform-style: preserve-3d;        
    width: 100%;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;    
    transform: rotateX(-10deg);
}

video{
    position: absolute;
    
    height: 100vh;    
}

.cube{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 50vw;
    height: 50vw;
    transform-style: preserve-3d;
    transition: 1s;    
    z-index: 100;
    
}

.cube-face{    
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 30%;
    
    /* background-color: rgba(184, 244, 255, 0.644); */
}

.cube-face-front { 
    transform: rotateY(  0deg) translateZ(12vw);     
}

.cube-face-top   { 
    transform: rotateX( 40deg) translateZ(12vw);     
}
.cube-face-back  { 
    transform: rotateX(80deg) translateZ(12vw) ;     
}
.cube-face-bottom{ 
    transform: rotateX(120deg) translateZ(12vw);     
}

.menu-title{
    font-size: 2.5vw;
    color: rgb(255, 255, 255);
    
}


.scroll-bar{
    background-color: #c7e1e9;
    z-index: 1;
    position: fixed;
    left:50vw;    
    height: 20px;
}

@keyframes yl{
    to{
        transform: rotateZ(-30deg);
    }

    from{
        transform: rotateZ(30deg);
    }
}

.to-top{
    position:fixed;
    left: 47.5vw;
    bottom: 1%;
    z-index: 2;
    width: 5vw;
    height: 6vw;    
    animation: yl 1s infinite alternate linear;
    cursor: pointer;
}

.to-top:hover .yl2{    
    z-index: 3;
    transform: scale(1.5);
}



.yl1{    
    position: absolute;
    background-image: url('../image/yl1.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    z-index: 2;
    
}

.yl2{    
    position: absolute;
    background-image: url('../image/yl4.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;   
    
}