h2{
    /* font-family: 'Coming Soon', cursive; */
    font-family: 'Yusei Magic', sans-serif;
}

.stage{
    position: fixed;
    background-color: pink;
    left: 50vw;
    top: 0;
    width: 50vw;
    height: 100vh;
    perspective: 600px;    
    
}

.room{
    transform-style: preserve-3d;        
    width: 100%;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cube{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 50vw;
    height: 50vw;
    transform-style: preserve-3d;
    transition: 1s;    
    
}

.cube-face{    
    position: absolute;
    width: 30%;
    height: 30%;
    background-color: rgba(184, 244, 255, 0.644);
}

.cube-face-front { 
    transform: rotateY(  0deg) translateZ(7.5vw); 
    background-image:url('../image/cube1.jpg');
    background-size: cover;
}
.cube-face-right { 
    transform: rotateY( 90deg) translateZ(7.5vw); 
    background-image:url('../image/cube.jpg');
    background-size: cover;
}
.cube-face-back  { 
    transform: rotateY(180deg) translateZ(7.5vw); 
    background-image:url('../image/cube3.jpg');
    background-size: cover;
}
.cube-face-left  { 
    transform: rotateY(-90deg) translateZ(7.5vw); 
    background-image:url('../image/cube5.jpg');
    background-size: cover;
}
.cube-face-top   { 
    transform: rotateX( 90deg) translateZ(7.5vw); 
    background-image:url('../image/cube2.jpg');
    background-size: cover;
}
.cube-face-bottom{ 
    transform: rotateX(-90deg) translateZ(7.5vw); 
    background-image:url('../image/cube5.jpg');
    background-size: cover;
}


.title-word-wrap{    
    position: fixed;
    display: flex;    
    flex-direction: row; 
    justify-content: space-between;
    left: 50%;
    top:48%;    
    width: 180vw;
    transition: 0.7s;
} 

.menu-title{
    font-size: 3vw;
    color: rgb(255, 255, 255);    
    background-color:rgba(219, 219, 219, 0.747);
}

.menu-title:nth-child(1){
    margin-left: 18vw;
}

 .menu-title:nth-child(2){
     margin-left: -2vw; 
} 

/* .menu-title:nth-child(3){
    margin-left: 3vw; 
} */

.menu-title:nth-child(4){
    
    margin-right: 25vw; 
}