/*
font-family: 'Coming Soon', cursive;
font-family: 'Gaegu', cursive;
font-family: 'Noto Serif KR', serif;
font-family: 'Yusei Magic', sans-serif;
*/

:root{
    --content-margin:3vh;

    --color__font:#555;
    --color__background: rgb(255, 245, 233);  

    --font__size-l:5vh;
    --font__size-m:2.5vh;
    --font__size-s:1vh;

    --font__kr : 'Noto Serif KR', serif ;
    --font__en :  'Roboto Slab', serif;
    --font__title-color: rgb(26, 0, 9);

    --light-pink:rgba(255, 188, 188, 0.788);
    --beige: #f4cfd0;

    --img__size:15vh;

    --content__img : 18vh;
    
}

body{
    height:400vh;
    -webkit-overflow-scrolling: touch;
    color: var(--color__font);    
    transition: .5s;    
}

a{
    text-decoration: none;
    color: var(--color__font);   
}

article{
    width: 50vw;
    z-index: 10;
    font-family: var(--font__kr);
    font-size: var(--font__size-m);
}

article section{
    width: 100%;
    height: 100vh;
    background-color: var(--color__background);
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.underbar_bold{
    border-bottom: var(--light-pink) solid 10px;
}

.underbar{
    border-bottom: var(--light-pink) solid 3px;    
}


/*태블릿*/
@media screen and (max-width:760px){ 
    
    .wrap{
        flex-direction: column;
    }

    .stage{
        left: 0;
        width: 100vw;
        height: 30vh;
    }

    article{
        width: 100vw;
        margin-top: 30vh;
        
    }

    .scroll-bar{
        left: 0;
        top:0;
    }

    .to-top{
        left:90vw
    }
} 

/*스마트폰*/
@media screen and (max-width:480px){ 
    
    .stage{
        display: none;
    }

    article{
        display: fixed;
        height: 100vh;
        width: 100vw;
        margin-top: 0;
        
    }

    .scroll-bar{
        left: 0;
    }

    .to-top{
        right:0
    }
} 

.section-title{
    font-size: var(--font__size-l);
    color: rgb(27, 1, 14);
    border-bottom: var(--font__title-color) dotted 2px;
    
}


/*ABOUT me*/
.about{       
    width: 100%;
    height: 100vh;    
    
}

.about-head{
    font-size: var(--font__size-l); 
    margin: var(--content-margin);
    
}

.about-description{
    margin: var(--content-margin);
    width: 60%;
}

.stack{
    margin-top: 3vh;
    display: flex;
}

.stack img{
    width: var(--img__size);
    height: var(--img__size);
    border-radius: 50%;    
}

.contact {
    margin: var(--content-margin) auto ;
    
}

/*프로젝트*/
.main-project{
    width: 80%;
    display: flex;
    flex-direction: row; 
    justify-content: space-around;   
    flex-wrap: nowrap;
    margin: var(--content-margin);
}

.main-project .content-wrap{
    width: 35vh;
    height: 40vh;
}

.content-wrap .content-img{
    background-color: pink;
    width: 100%;
    height: 60%;
}

.content-wrap .content-des{
    position: relative;
    left: 10%;
    top:-10%;
    width: 80%;
    height: 50%;
    padding: 2vh;
    background-color: var(--beige);
}

.content-des hr{
    text-align: right;
    border: #555 dotted;
    width: 30px;
}