/*
font-family: 'Coming Soon', cursive;
font-family: 'Gaegu', cursive;
font-family: 'Noto Serif KR', serif;
font-family: 'Yusei Magic', sans-serif;
font-family: 'Noto Sans KR', sans-serif;
*/

:root{
    --content-margin:3vh;

    --color__font:rgb(41, 41, 41);
    --color__background: rgb(252, 252, 252);  

    --font__size-l:5vh;
    --font__size-ml:3.5vh;
    --font__size-m:2.5vh;
    --font__size-sm:2vh;
    --font__size-s:1vh;

    --font__kr : 'Noto Serif KR', serif ;
    --font__en :  'Roboto Slab', serif;
    --font__title-color: rgb(26, 0, 9);


    --light-pink:rgba(255, 188, 188, 0.788);
    --beige: #f4cfd0;

    --img__size:15vh;

    --des__size:20vh;

    --content__img : 18vh;
    
}

body{
    height:400vh;
    -webkit-overflow-scrolling: touch;
    color: var(--color__font);    
    transition: .5s;    
}

a{
    text-decoration: none;
    color: var(--color__font);   
}

article{
    width: 50vw;
    
    font-family: var(--font__kr);
    font-size: var(--font__size-m);
}

article section{
    width: 100%;
    height: 100vh;
    background-color: var(--color__background);
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


.underbar_bold{
    border-bottom: var(--light-pink) solid 10px;
}

.underbar{
    border-bottom: var(--light-pink) solid 3px;    
}


/*태블릿*/
@media screen and (max-width:760px){ 
    
    .wrap{
        flex-direction: column;
    }

    .stage{
        left: 0;
        width: 100vw;
        height: 30vh;
        overflow: hidden;
    }

    video{
        width:100vw;
        height: 56vw;
        
    }

    article{
        width: 100vw;
        margin-top: 30vh;
        
    }

    .scroll-bar{
        left: 0;
        top:0;
    }

    .to-top{
        display: block;
        left:90vw
    }
} 

/*스마트폰*/
@media screen and (max-width:480px){ 
    
    .stage{
        display: none;        
    }

    article{
        display: fixed;
        height: 100vh;
        width: 100vw;
        margin-top: 0;
        
    }

    
    .scroll-bar{
        left: 0;
    }

    .to-top{
        display: block;
        right:0
    }

    
} 

.section-title{
    font-size: var(--font__size-l);
    color: rgb(255, 116, 158);    
    font-family: 'Roboto Slab', serif;
    border-bottom: rgba(250, 78, 130, 0.596) solid 10px;
}

.section-content{
    width: 85%;
    display: flex;
    flex-direction: row;    
    justify-content: space-around;   
    flex-wrap: nowrap;
    margin: var(--content-margin);    
}



/*ABOUT me*/
.about{       
    width: 100%;
    height: 100vh;    
    
}

.about-head{
    font-size: var(--font__size-l); 
    margin: var(--content-margin);
    
}

.about-description{
    margin: var(--content-margin);
    width: 60%;
}

.contact {
    margin: var(--content-margin) auto ;    
}


.speech-bubble {
    
    display: none;
    text-align: center;
    font-size: 0.9em;
    width: 200px;
	position: relative;
	background: rgba(112, 112, 112, 0.692);
	border-radius: .4em;
    color: white;
    transition: all 0.3s ease;
}

/* .speech-bubble:after {
	
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        width: 0;
        height: 0;
        border: 20px solid transparent;
        border-right-color: #00aabb;
        border-left: 0;
        margin-top: -20px;
        margin-left: -20px;
    }
}
 */
/*skills*/

.skills .section-content{    
    height: 80%;
    flex-wrap: wrap;    
    flex-direction: column;
    justify-content: space-around;
}

.part{
    display: flex;
    justify-content: center;
    
}

.part span{
    width: 20%;
    margin-right: 10px;
    font-weight: bold;
    
}

.part ul{
    width: 30%;
    list-style-type: disc;
}

.part div{
    width: 50%;
    font-size: var(--font__size-sm);
}

.part .skill-detail{
    font-size: 1vw;
}





